<div class="all main-content">
  <div class="container-fluid">

    <div class="row">

      <div class=" col-lg-4 col-md-12 col-xs-12">

        <div>
          <div class="card lineCard">
            <div class="card-title titulos">LA EMPRESA</div>

            <div class="card-body text-center">

              <div class="titulos">Nombre</div>
              <div class="textos"> Quipux S.A.S</div>

              <div class="titulos">Fecha de creación</div>
              <div class="textos">1995/05/06</div>

              <div class="titulos">Dirección</div>
              <div class="textos">
                <a href="https://goo.gl/maps/xSoi1oMz7mtiRQba9" target="_blank">Carrera 43A No. 3 Sur-130</a> <br>
                Ed. Milla de Oro<br>
                Distrito de negocios Torre 1<br>
                Piso 12
              </div>

              <div class="textos">Medellín - Colombia</div>

              <div class="titulos">Número de teléfonos</div>

              <div class="textos">Fijo</div>
              <div class="textos">
                <a href="tel:+5743137000">+57 (4) 313-70-00</a>
                <br>
                Fax<br>
                <a href="tel:+5743134477">+57 (4) 313-44-77</a>

              </div>

              <div class="titulos">Sitio Web</div>
              <div class="textos">
                <a href="https://www.quipux.com/" target="_blank">www.quipux.com/site</a> <br>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- --------------------------------------------------------------------------------------------- -->
      <div class="card col-lg-8 col-md-12 col-xs-12">
        <div class="card-title titulos">INFORMACIÓN DEL CONTACTO</div>
        <div class="row">
          <div class="lineaCuadro text-center col-lg-6 col-md-12 col-xs-12">
            <div>
              <div class="lineCard">
                <div class="card-body">

                  <div class="titulos">Dirección</div>
                  <div class="textos">
                    <a href="https://goo.gl/maps/UMce7kEdU2FMeqqW6" target="_blank">Carrera 52 # 91-66 </a> <br>
                    Medellín Colombia
                  </div>

                  <div class="titulos">Correo electrónico</div>
                  <div class="textos">
                    <a href="mailto:usuarioapellido@hotmail.com">usuarioapellido@hotmail.com</a>
                  </div>

                  <div class="titulos">Sitio Web</div>
                  <div class="textos">
                    <a href="https://www.google.com/" target="_blank">www.usuarioapellido.com</a> <br>
                  </div>

                  <div class="titulos">Red social</div>
                  <div class="textos">
                    <a href="https://www.instagram.com/" target="_blank">www.instagram.com</a> <br>
                    <a href="https://www.linkedin.com/" target="_blank">www.linkeind.com</a> <br>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="text-center col-lg-6 col-md-12 col-xs-12">
            <div>
              <div class="lineCard">
                <div class="card-body">

                  <div class="titulos">Dirección de correspondencia de correo</div>

                  <div class="textos">
                    <a href="https://goo.gl/maps/UMce7kEdU2FMeqqW6" target="_blank">Carrera 52 # 91-66 </a> <br>
                    Envigado Colombia
                  </div>

                  <div class="titulos">Número de teléfonos</div>
                  <div class="textos">Fijo<br>
                    <a href="tel:+5743137000">+57 (4) 313-70-00</a>
                    <br>
                    Celular<br>
                    <a href="tel:3123134477">(312) 313-44-77</a>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>