<div class="all main-content">
  <div class="container-fluid">

    <div class="row">

      <div class="col-lg-7 col-md-12 col-xs-12">

        <div class="titulo">¿Que quieres buscar?</div>
        <div class="texto">Encuentra la información que desees consultar ...</div>
        <div>
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav col-lg-3 col-md-3 col-xs-3">

                  <li class="nav-item dropdown warning botonTodosServ ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Todos los servicios
                    </a>
                  </li>

                </ul>
                <form class="d-flex col-lg-9 col-md-9 col-xs-9 ">
                  <input class="form-control me-2" type="search" placeholder="Que servicio quieres consultar"
                    aria-label="Search">
                  <button class="btn btn-info" type="submit"><i class="material-icons">search</i></button>
                </form>
              </div>
            </div>
          </nav>
        </div>

        <div class="card espacioCard">

          <div class="row">

            <div class="col-md-4">
              <div class="">
                <div class="card-header">

                </div>
                <div class="card-body">
                  <h4 class="card-title subtitulo">Certificado </h4>
                  <p class="card-category">
                    Conoce los beneficios que tenemos para ti al registrarte
                  </p>
                </div>
                <div class="card-footer">
                  <button type="button" class="btn btn-outline-success">+ Beneficios</button>

                </div>
              </div>
            </div>


            <div class="col-md-4">
              <div class="">
                <div class="card-header">

                </div>
                <div class="card-body">
                  <h4 class="card-title subtitulo">Crear cuenta </h4>
                  <p class="card-category">
                    Conoce los beneficios que tenemos para ti al registrarte
                  </p>
                </div>
                <div class="card-footer">
                  <button type="button" class="btn btn-outline-success">Ver todo</button>

                </div>
              </div>
            </div>


            <div class="col-md-4">
              <div class="">
                <div class="card-header">

                </div>
                <div class="card-body">
                  <h4 class="card-title subtitulo">Top trámites</h4>
                  <p class="card-category">
                    Conoce los trámites más solicitados.
                  </p>
                </div>
                <div class="card-footer">
                  <button type="button" class="btn btn-outline-success">Ver todo</button>

                </div>
              </div>
            </div>

          </div>


        </div>
      </div>

      <!-- --------------------------------------------------------------------------------------------- -->

      <div class="imagen col-lg-5 col-md-12 col-xs-12">
        <div class="ubicacionCuadro">

          <div class="tituloDos text-center ">SERVICIOS QUIPUX</div>

          <div class="card lineCard">
            <div class="card-header">
              <div class="ct-chart" id="websiteViewsChart"></div>
            </div>
            <div class="card-body">
              <h4 class="card-title subtitulo">Trámites en tu mano</h4>
              <p class="card-category">Ahora podrás hacer todos tus trámites desde la comodidad de tu
                casa, desde cualquier dispositivo computadora, tablet o móvil.</p>
              <div class="progress" style="height: 15px;">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>